common --noenable_bzlmod

common --ios_multi_cpus=arm64

common --jobs=HOST_CPUS*2
common --spawn_strategy=remote,worker,local
common --noworker_sandboxing

build --macos_minimum_os=14.0
build --host_macos_minimum_os=14.0

common --noremote_upload_local_results
common --ios_simulator_device="iPhone 15"
common --noslim_profile
common --features=relative_ast_path
common --features=oso_prefix_is_pwd
common --nolegacy_important_outputs
common --modify_execution_info=^(BitcodeSymbolsCopy|BundleApp|BundleTreeApp|DsymDwarf|DsymLipo|GenerateAppleSymbolsFile|ObjcBinarySymbolStrip|CppArchive|CppLink|ObjcLink|ProcessAndSign|SignBinary|SwiftArchive|SwiftStdlibCopy)$=+no-remote,^(BundleResources|ImportedDynamicFrameworkProcessor)$=+no-remote-exec

build --compilation_mode=dbg
build --incompatible_strict_action_env
build --experimental_strict_conflict_checks

common --features=swift.index_while_building
common --features=swift.use_global_index_store
common --features=swift.use_global_module_cache
common --features=swift.enable_batch_mode
common --features=swift.cacheable_swiftmodules